@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('./assets/fonts/Lalezar.ttf'); */
/* @import url('./assets/fonts/Yekan.ttf'); */

@font-face {
  font-family: 'Lalezar';
  src: url('./assets/fonts/Lalezar.ttf');
}
@font-face {
  font-family: 'Yekan';
  src: url('./assets/fonts/Yekan.ttf');
}

* {
  font-family: 'Yekan', sans-serif;
}

.active {
  border-bottom: 2px solid #9152aa !important;
}


